src/test/resources/ws02.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema>
            <xs:element name="PlaceAndDate">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="town" type="xs:string" />
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="date" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="MaxMinTem">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="maxtemperature" type="xs:string"/>
                    <xs:element name="mintemperature" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="InDataFaul">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="errormessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="PlaceAndDateSoapIn">
        <wsdl:part name="parameters" element="PlaceAndDate"/>
    </wsdl:message>
    <wsdl:message name="MaxMinTemSoapOut">
        <wsdl:part name="parameters" element="MaxMinTem"/>
    </wsdl:message>
    <wsdl:message name="InDataFaul">
        <wsdl:part name="parameters" element="InDataFaul"/>
    </wsdl:message>
    
    <wsdl:portType name="WeatherWSSoap">
        <wsdl:operation name="getMaxMinTemps1">
            <wsdl:input message="PlaceAndDateSoapIn" />
            <wsdl:output message="MaxMinTemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxMinTemps2">
            <wsdl:input message="PlaceAndDateSoapIn"/>
            <wsdl:output message="InDataFaul"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="WeatherWSSoap" type="WeatherWSSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMaxMinTemps1">
            <soap:operation style="document" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxMinTemps2">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="WeatherWS">
        <wsdl:port name="WeatherWSSoap" binding="WeatherWSSoap">
            <soap:address location=""/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>